.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.comment {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 35px;
    background-color: var(--color-neutral-white);
    border-radius: var(--border-radius);
    padding: 20px 25px;
    width: 100%;
}

/* @media screen and (min-width: 1000px) {
    .comment {
        min-width: 800px;
    } 
} */

.leftSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 45px;
    width: 100%;
    max-height: 140px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;

    background-color: var(--color-neutral-veryLightGray);
    border-radius: var(--border-radius);

    font-size: 19px;
    font-weight: 700;
}

.scoreboard__button {
    border-radius: var(--border-radius);
    padding: 5px;
    color: var(--color-neutral-grayishBlue);
    padding: 0;
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 700;

    width: 100%;

    height: 40px;
}

.scoreboard__button:hover {
    background-color: var(--color-neutral-lightGray);
}

.scoreboard__score {
    color: var(--color-primary-moderateBlue);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.content__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    gap: 10px;
}

.content__nav__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.content__nav__info__desc {
    font-size: 14px;
}

.content__nav__info__desc h3 span {
    color: var(--color-neutral-grayishBlue);
    padding-left: 10px;
    font-weight: 400;
}

.content__nav__info img {
    height: 35px;
    width: auto;
}

.message {
    width: 100%;
}

.message p {
    line-height: 25px;
    color: var(--color-neutral-darkBlue);
}

.message p span {
    color: var(--color-primary-moderateBlue);
    font-weight: 700;
    margin-right: 10px;
}

.smallerScreen {
    display: none;
}

.biggerScreen {
    display: flex;
}

@media screen and (max-width: 750px) {
    .smallerScreen {
        display: flex;
    }

    .biggerScreen {
        display: none;
    }

    .comment {
        flex-direction: column;

        gap: 35px;
    }

    .leftSection {
        order: 2;
        flex-direction: row;
        max-width: 100%;
        max-height: 50px;
    }

    .scoreboard {
        flex-direction: row;
        width: 150px;
    }
}

@media screen and (max-width: 500px) {
    .scoreboard {
        /* flex-direction: row; */
        width: 100px;
    }
}
