.outsideWrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.insideWrapper {
    width: 340px;
    position: relative;
    background-color: white;
    border: none;
    outline: none;
    -webkit-box-shadow: 1px 3px 18px -6px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 3px 18px -6px rgba(66, 68, 90, 1);
    box-shadow: 1px 3px 18px -6px rgba(66, 68, 90, 1);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 15px;
}

.modal__title {
    margin-right: auto;
    margin-left: 0;
    font-size: 20px;
    font-weight: 700;
    word-spacing: 3px;
    color: var(--color-neutral-darkBlue);
}

.modal__navigation {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.modal__button {
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    color: white;
}

.modal__button[data-backgroundcolor='delete'] {
    background-color: var(--color-primary-softRed);
}

.modal__button[data-backgroundcolor='approve'] {
    background-color: var(--color-primary-moderateBlue);
}

.modal__button[data-backgroundcolor='reject'] {
    background-color: var(--color-neutral-grayishBlue);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
